:root {
    --black: #000;
    --darking: rgba(0, 0, 0, 0.4);
    --light-color: rgba(0, 0, 0, 0.2);
    --lighter-color: rgba(0, 0, 0, 0.1);
    --light-white: #fefefe;
    --light-gray: #aaa;
    --lighter-gray: #ddd;
    --gray: #888;

    --light-black: #333;
    --lighter-black: #555;
}

/*dark mode*/
body.light {
    --background-color: var(--light-color);
    --text-color: var(--black);
    --button-color: var(--light-color);
    --button-hover-color: var(--lighter-color);
    --border-color: var(--black);
    --modal-darkening-color: var(--darking);
    --modal-background-color: var(--light-white);
    --modal-border-color: var(--gray);
    --modal-close-color: var(--light-gray);
    --input-color: var(--light-white);
}

/*light mode*/
body.dark {
    --background-color: var(--light-black);
    --text-color: var(--light-white);
    --button-color: var(--lighter-gray);
    --button-hover-color: var(--light-gray);
    --border-color: var(--light-white);
    --modal-darkening-color: var(--darking);
    --modal-background-color: var(--light-black);
    --modal-border-color: var(--gray);
    --modal-close-color: var(--light-gray);
    --input-color: var(--lighter-black);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

    /* color switch animation */
    transition: background-color 0.5s ease, color 0.5s ease;
}


td {
    border: 2px solid var(--border-color);
    padding: 0;
    border-radius: 20%;
    width: 160px;
    height: 50px;
    text-align: center;
    overflow: hidden;
}

select {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: 1em;
    text-align-last: center;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 1.5em;
    text-align-last: center;
    font-family: Arial, sans-serif;
}

#submit {
    background-color: var(--button-color);
}

#submit:disabled {
    background-color: var(--button-hover-color);
}

#submit:hover, #helpButton:hover, button:hover  {
    background-color: var(--button-hover-color);
}

button {
    background-color: var(--button-color);
}

#helpButton {
    border: 1px solid var(--border-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-left: auto;
    z-index: 50;
    overflow: hidden;
}

#helpButtonArea {
    display: flex;
    height: 0;
}

.spaceForHelp {
    margin-right: 48px;
    margin-left: 48px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 900px) {
    .spaceForHelp {
        margin-left: 0;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-color); /* Fallback color */
    background-color: var(--modal-darkening-color); /* Black w/ opacity */
}

.modal-content {
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: var(--modal-background-color);
    width: 100%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid var(--modal-border-color);
    width: 80%;
    border-radius: 10px;
}

.close {
    color: var(--modal-close-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    right: 0;
    top: -9px;
}

.close:hover,
.close:focus {
    color: var(--border-color);
    text-decoration: none;
    cursor: pointer;
}

.modalButton {
    border-radius: 10%;
    border: 1px solid var(--border-color);
    margin: 5px;
    padding: 5px;
    z-index: 50;
    width: auto;
}

label {
    font-size: 1.5em;
    padding: 5px;
    padding-top: 10px;
}

.select {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--input-color);
    color: var(--text-color);
}

input {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--input-color);
    color: var(--text-color);
    box-sizing: border-box;
    width: 150px;
}

.backButton{
    margin-top: 20px;
}

p {
    font-size: 1.5em;
}

#menuIcon {
    margin: 4px;
}